<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/build/war</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="gwt-starter/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="gwt-starter" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/ch.qos.logback/logback-classic/c12498cf18507aa6433a94eb7d3e77d5/jars/logback-classic-1.0.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/org.slf4j/jul-to-slf4j/c12498cf18507aa6433a94eb7d3e77d5/jars/jul-to-slf4j-1.6.4.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/org.slf4j/jcl-over-slf4j/c12498cf18507aa6433a94eb7d3e77d5/jars/jcl-over-slf4j-1.6.4.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/org.slf4j/log4j-over-slf4j/c12498cf18507aa6433a94eb7d3e77d5/jars/log4j-over-slf4j-1.6.4.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.google.gwt/gwt-servlet/c12498cf18507aa6433a94eb7d3e77d5/jars/gwt-servlet-2.4.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.google.inject/guice/c12498cf18507aa6433a94eb7d3e77d5/jars/guice-3.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.google.inject.extensions/guice-servlet/c12498cf18507aa6433a94eb7d3e77d5/jars/guice-servlet-3.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.google.inject.extensions/guice-assistedinject/c12498cf18507aa6433a94eb7d3e77d5/jars/guice-assistedinject-3.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.googlecode.mvp4g/mvp4g/c12498cf18507aa6433a94eb7d3e77d5/jars/mvp4g-1.3.1.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/ch.qos.logback/logback-core/c12498cf18507aa6433a94eb7d3e77d5/jars/logback-core-1.0.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/org.slf4j/slf4j-api/c12498cf18507aa6433a94eb7d3e77d5/jars/slf4j-api-1.6.4.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/javax.inject/javax.inject/c12498cf18507aa6433a94eb7d3e77d5/jars/javax.inject-1.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/aopalliance/aopalliance/c12498cf18507aa6433a94eb7d3e77d5/jars/aopalliance-1.0.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/asm/asm/c12498cf18507aa6433a94eb7d3e77d5/jars/asm-3.1.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/org.sonatype.sisu.inject/cglib/c12498cf18507aa6433a94eb7d3e77d5/jars/cglib-2.2.1-v20090111.jar" />
          <element id="file-copy" path="$USER_HOME$/.gradle/caches/artifacts-4/com.google.gwt.inject/gin/c12498cf18507aa6433a94eb7d3e77d5/jars/gin-1.5.0.jar" />
        </element>
      </element>
      <element id="gwt-compiler-output" facet="gwt-starter/gwt/GWT" />
    </root>
  </artifact>
</component>